In [1]:
import requests

In [2]:
url=requests.get("https://isro.vercel.app/api/spacecrafts")
data=url.json()

In [3]:
for i in data:
    print(i)

spacecrafts

In [12]:
count=0
for j in range(0,len(data["spacecrafts"])):
    count=count+1
print("Total Count = ",count)

Total Count =  112

In [13]:
for n in range(0,len(data["spacecrafts"])):
    print("ID : "+str(data["spacecrafts"][n]["id"])+" Name : "+data["spacecrafts"][n]["name"])

ID : 1 Name : Aryabhata
ID : 2 Name : Bhaskara-I
ID : 3 Name : Rohini Technology Payload (RTP)
ID : 4 Name : Rohini Satellite RS-1
ID : 5 Name : Rohini Satellite RS-D1
ID : 6 Name : APPLE
ID : 7 Name : Bhaskara-II
ID : 8 Name : INSAT-1A
ID : 9 Name : Rohini Satellite RS-D2
ID : 10 Name : INSAT-1B
ID : 11 Name : SROSS-1
ID : 12 Name : IRS-1A
ID : 13 Name : SROSS-2
ID : 14 Name : INSAT-1C
ID : 15 Name : INSAT-1D
ID : 16 Name : IRS-1B
ID : 17 Name : SROSS-C
ID : 18 Name : INSAT-2A
ID : 19 Name : INSAT-2B
ID : 20 Name : IRS-1E
ID : 21 Name : SROSS-C2
ID : 22 Name : IRS-P2
ID : 23 Name : INSAT-2C
ID : 24 Name : IRS-1C
ID : 25 Name : IRS-P3
ID : 26 Name : INSAT-2D
ID : 27 Name : IRS-1D
ID : 28 Name : INSAT-2E
ID : 29 Name : Oceansat(IRS-P4)
ID : 30 Name : INSAT-3B
ID : 31 Name : GSAT-1
ID : 32 Name : The Technology Experiment Satellite (TES)
ID : 33 Name : INSAT-3C
ID : 34 Name : KALPANA-1
ID : 35 Name : INSAT-3A
ID : 36 Name : GSAT-2
ID : 37 Name : INSAT-3E
ID : 38 Name : IRS-P6 / RESOURCESAT-1
ID : 39 Name : EDUSAT
ID : 40 Name : HAMSAT
ID : 41 Name : CARTOSAT-1
ID : 42 Name : INSAT-4A
ID : 43 Name : INSAT-4C
ID : 44 Name : SRE-1
ID : 45 Name : CARTOSAT-2
ID : 46 Name : INSAT-4B
ID : 47 Name : INSAT-4CR
ID : 48 Name : CARTOSAT â€“ 2A
ID : 49 Name : IMS-1
ID : 50 Name : Chandrayaan-1
ID : 51 Name : RISAT-2
ID : 52 Name : Oceansat-2
ID : 53 Name : GSAT-4
ID : 54 Name : CARTOSAT-2B
ID : 55 Name : GSAT-5P
ID : 56 Name : YOUTHSAT
ID : 57 Name : RESOURCESAT-2
ID : 58 Name : GSAT-8
ID : 59 Name : GSAT-12
ID : 60 Name : Megha-Tropiques
ID : 61 Name : RISAT-1
ID : 62 Name : GSAT-10
ID : 63 Name : SARAL
ID : 64 Name : IRNSS-1A
ID : 65 Name : INSAT-3D
ID : 66 Name : GSAT-7
ID : 67 Name : Mars Orbiter Mission Spacecraft
ID : 68 Name : GSAT-14
ID : 69 Name : IRNSS-1B
ID : 70 Name : IRNSS-1C
ID : 71 Name : GSAT-16
ID : 72 Name : Crew module Atmospheric Re-entry Experiment (CARE)
ID : 73 Name : IRNSS-1D
ID : 74 Name : GSAT-6
ID : 75 Name : Astrosat
ID : 76 Name : GSAT-15
ID : 77 Name : IRNSS-1E
ID : 78 Name : IRNSS-1F
ID : 79 Name : IRNSS-1G
ID : 80 Name : CARTOSAT-2 Series Satellite
ID : 81 Name : INSAT-3DR
ID : 82 Name : SCATSAT-1
ID : 83 Name : GSAT-18
ID : 84 Name : RESOURCESAT-2A
ID : 85 Name : INS-1B
ID : 86 Name : INS-1A
ID : 87 Name : Cartosat -2 Series Satellite
ID : 88 Name : GSAT-9
ID : 89 Name : GSAT-19
ID : 90 Name : Cartosat-2 Series Satellite
ID : 91 Name : GSAT-17
ID : 92 Name : IRNSS-1H
ID : 93 Name : INS-1C
ID : 94 Name : Cartosat-2 Series Satellite
ID : 95 Name : Microsat
ID : 96 Name : GSAT-6A
ID : 97 Name : IRNSS-1I
ID : 98 Name : GSAT-29
ID : 99 Name : HysIS
ID : 100 Name : GSAT-11 Mission
ID : 101 Name : GSAT-7A
ID : 102 Name : Microsat-R
ID : 103 Name : GSAT-31
ID : 104 Name : EMISAT
ID : 105 Name : RISAT-2B
ID : 106 Name : Chandrayaan2
ID : 107 Name : Cartosat-3
ID : 108 Name : RISAT-2BR1
ID : 109 Name : GSAT-30
ID : 110 Name : EOS-01
ID : 111 Name : CMS-01
ID : 112 Name : EOS-03

In [16]:
ID=int(input("Enter ID= "))
for m in range(0,len(data["spacecrafts"])):
    if data["spacecrafts"][m]["id"]==ID:
        print("Searching ID is "+str(data["spacecrafts"][m]["id"])+" for name is ="+data["spacecrafts"][m]["name"])
        break
else:
    print(str(ID)+ "is not found.....")

Enter ID= 16
Searching ID is 16 for name is =IRS-1B